#ReviewerSearchOptionsContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  font-family: Nexussanspro, sans-serif;
  font-size: 16px;
}

#ReviewerSearchOptionsContainer legend {
  font-size: 18px !important;
  font-weight: normal !important;
  padding: 4px 16px;
  margin-bottom: 16px;
}

#ReviewerSearchOptionsContainer legend::after {
  content: '\0000a0- Including Reviewer Recommender';
}

.searchCriteria {
  width:100% !important;
}

#ReviewerSearchOptions_HomeJournalSearchModeDropDown, #ReviewerSearchOptions_ReviewerRoleDropDown {
  height:auto !important;
  font-size:14px !important;
  padding-left:6px;
}

input[type="radio" i] {
    margin: 5px 8px 0px 5px;
}

#ReviewerSearchOptions_ExternalReviewerSearchRow {
  font-family: Nexussanspro, sans-serif;
  font-size: 16px;
  padding: 12px 0 8px 0;
  display: flex;
}

#ReviewerSearchOptions_ExternalReviewerSearchRow::after {
  content: '\0000a0(select then hit go button →)';
}

.reviewertable {
  width: 100%;
  font-family: Nexussanspro, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "lnum";
}

.reviewertable a {
  color: #007298;
}

.tools {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  margin-bottom: 6px;
  padding-right: 16px;
  padding-left: 16px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-right: 1px solid #999;
  text-align: center;
}

.col.one {
  padding-left: 0px;
}

.col.last {
  padding-right: 0px;
  border-right-style: none;
}

.top2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 6px 16px 16px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-bottom: 1px solid #999;
  font-size: 20px;
  font-weight: 700;
}

@font-face {
  font-family: 'Nexussanspro';
  src: url('fonts/NexusSansPro.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Nexussanspro';
  src: url('fonts/NexusSansPro-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: auto;
}
@font-face {
  font-family: 'Nexussanspro';
  src: url('fonts/NexusSansPro-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Nexussanspro';
  src: url('fonts/NexusSansPro-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: auto;
}

