.reviewertable {
  width: 100%;
  font-family: Nexussanspro, sans-serif;
  font-size: 16px;
}

.div-block-16 {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.column {
  padding: 32px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.column.one {
  background-color: #eff4f7;
}

.column.two {
  background-color: #d8d8d8;
}

.column.three {
  background-color: rgba(0, 114, 152, 0.12);
}

@font-face {
  font-family: 'Nexussanspro';
  src: url('fonts/NexusSansPro.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Nexussanspro';
  src: url('fonts/NexusSansPro-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: auto;
}
@font-face {
  font-family: 'Nexussanspro';
  src: url('fonts/NexusSansPro-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Nexussanspro';
  src: url('fonts/NexusSansPro-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: auto;
}

