.reviewertable {
  width: 100%;
}

.div-block-16 {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.column {
  padding: 32px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.column.one {
  background-color: #red;
}

.column.two {
  background-color: #green;
}

.column.three {
  background-color: rgba(0, 114, 152, 0.12);
}
